
body
{
    font-family: 'Lato', sans-serif;
    background-color: white;
    
}
#container
{
   
    margin-left: auto;
    margin-right: auto;
    width: 1000px;

    

}
#logo
{
   background-color: rgb(66, 70, 88);
   color:white; 
   font-size: 20px;
   font-style:italic;
   text-align: center;
   padding: 5px;
   margin-left: auto;
    margin-right: auto;
    width: 1000px;
    
   
   
}
#left
{ 
    background-color:rgb(231, 226, 226) ;
    float:left;
    width: 240px;
    min-height: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    


    


}
#content
{ 
   
    float:left;
    width: 740px;
    min-height: 240px;
    background-color: rgb(247, 247, 247);
 
   

    

}

.info
{
    border-bottom: 2px outset ivory;
    font-size: 12px;
}



figure {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  
  img {
    width: 220px;
    height: 220px;
    border: 1px solid #222;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

 

  h3
  {
    font-size: 18px;
    margin-left: 20px;
    color : rgb(44, 40, 80); 

  }
  .Inscription
  {
    
     
    border-bottom: 1px dotted rgb(182, 179, 179) ;  

    
  }

  .Details
  {
   
   
    font-size: 14;
  
     float: left;
  width: 370px;
  

  }
  h4
  {
  font-size: 14px;
  margin-left: 10px;
  }

