body
{
font-family: arial,sans-serif;
background-color: rgb(255, 255, 255);
min-width: 1366px;
min-height:675px;
margin:0px;


}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 20px 246px  50px 40px  256px 35px 35px ;
 
  }
  .one {
    grid-column: 7 / 8;
    grid-row: 1;
    margin-right:4px;
    margin-top:6px;
  }

  #mail
  {
       
font-size: 10px;
padding-top: 6px;
padding-right: 10px;
float:left;
  }
  #graphics
  {  padding-top:6px;
      font-size: 10px;
      float:left;
    
 
  }
#application
{
padding-top:6px;
padding-left: 18px;
float:left;
padding-right:6px;
}
#log_in
{
    float:left;
}
 #log
 { 
     background-color: #1A73E8;
     font-size:10px;
     padding:5px;
     vertical-align: middle;
     letter-spacing: .25px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 78px;
    min-height: 16px;
    color:white;
    text-align: center;
    border-radius: 4px ;
 }
 
 .two
 {
    grid-column: 1 / 8;
    grid-row:2;     
 }

 #photo
 {
    padding-top:146px;
 }
 .three
 {
     grid-column: 1 / 8 ;
     grid-row:3;
     margin-left: auto;
    margin-right: auto; 
 }

 #table
 {
    width: 420px;
    height: 32px;
    color:white;
    border: solid rgb(235, 235, 235) 0.5px;
    border-radius: 40px ;
   
 }

#photo1
{
 margin-left:10px;
 margin-top: 5px;
 float:left;
}

#photo2
{
margin-left:392px;
margin-top:10px;
margin-bottom:10px;
}

.a
{
clear:both;
}

.four
{
    grid-column: 1 / 8 ;
    grid-row:4;
    margin-left: auto;
    margin-right: auto; 
    margin-top:0px;
}


.table3
{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 10.5px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 24px;
    min-width: 64px;
    text-align: center;
    float:left;
    margin-top:5px;
}


.five
{
    grid-column: 1 / 8 ;
    grid-row:5;
}

.seven
{
    grid-column: 1 / 8 ;
    grid-row:6;  
    background-color: #f2f2f2;
    border-bottom: 1px solid #dadce0;;
    
}

#table5_1
{
margin-bottom: 12px;
margin-top: 12px;
margin-left:12px;
font-size: 10px;
color:#70757a;

}

.eight
{
    background-color: #f2f2f2;
    grid-column: 1 / 8 ;
    grid-row: 7;
    
    
}
#tab1
{
    font-size: 11px;
    color: #70757a ;
    margin-bottom: 12px;
    margin-top: 12px;    
    margin-left:12px;
    float:left;
}

.carbon
{
    font-size: 10px;
    color: #70757a ;
    margin-bottom: 12px;
    margin-top: 12px;  
    padding-left:305px;
    float:left;
}
.tab2
{
    font-size: 10px;
    color: #70757a ;
    margin-bottom: 12px;
    margin-top: 12px;    
    margin-left:20px;
    float:left;
}

.tab3
{
    font-size: 10px;
    color: #70757a ;
    margin-bottom: 12px;
    margin-top: 12px;   
    float:right;
    margin-right:20px;
    
}