body 
{

    min-height: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    position: relative;
    background-color: white;


}

#navigation
 {
    height: 66px;
    width: 100%;
    position: fixed;
    display: flex;
    padding-top:10px;
    align-items: flex-end;

}

#img-find
 {
    height: 30px;
    padding: 0px 20px 12px 35px;
    cursor: pointer;

}



#clean-button
 {
    height: 45px;
    width: 45px;
    padding-right:10px;
    background-color: white;
    border:none;
}


#search-button
 {
    height: 44px;
    width: 55px;
    background-color: white;
    position: relative;
    margin-right: -4px;
    border:none;

}
#search-button svg
{
    height: 25px;
    width: 35px;
    position: relative;
    left: -3px;
    border:none;
}

#search-button svg path
{
    fill: #4285F4
}

#k-button
{
    background-color: white;
    border:none;
}

#search {
    width: 650px;
    height: 43px;
    border-radius: 100px;
    border-color: lightgray;    
    font-size: 16px;
    position: relative;
    bottom: 5px;
    overflow: hidden;
    z-index: 100;
    display: flex;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 24px;

}

#search:hover 
{
    box-shadow: 0px 2px 6px rgba(12, 12, 12, 0.1);
}

#search > input
 {
    height: 45px;
    border-style: none;
    font-size: 16px;
    line-height: 45px;
    padding-left: 20px;
    flex: 1;
}

#search > input:focus {
    outline: none;
}

#search-button button
 {
    border: none;
    cursor: pointer;
}

#search-button button:focus 
{
    outline: none;
}

#menu
 {
    
    border-radius: 40px;
    padding-left: 1035px;
    padding-bottom:20px;
    width: 20px;
    position: absolute;
    height: 20px;
}
#log_to
{
    padding-left: 270px;
    margin-bottom:10px;
}
#logto
{  
    color: white;
    background: #1a73e8;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    height:35px;
    width: 122px;
    margin-left: 10px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border:none;
}

#option
 {
    width: 100%;
    height: 48px;
    font-family: 'Arial';
    font-size: 14px;
    color: rgb(109, 108, 108);
    padding-top: 85px;
    border-width: 0px;
    border-bottom: 0.5px;
    border-color:rgb(223, 220, 220);
    border-style:solid;
    display: flex;
    align-items: flex-end;
}

#nav1 
{
    
    padding: 0px;
    margin: 0px;
    margin-left: 150px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

#nav1 li 
{
    padding: 0px 11px 14px 22px;
}


#end
{
padding: 7px; 
border-right: 1px solid rgb(209, 208, 208);
padding-right: 27px;   
}


#chose
 {
    color: #4285F4;
    font-weight: 70px;
    position: relative;
    
}

#chose::after 
{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #4285F4;
    left: 6px;
    bottom: 0px;
    display:block;
    position: absolute;

}



#all_here
 {
    padding-left: 145px;
    font-family: 'Arial';
}

#count 
{
    color:grey;
    font-size: 0.84rem;
    padding-left: 10px;
}

.result 
{
    margin-left: 8px;
}



.result h2 {
    font-size: 20px;
    color: #1a0dab;
    margin-bottom: 2px;
    margin-top: 26px;
    line-height: 20px;
    font-weight: normal;
}

.result a 
{
    font-size: 15px;
    line-height: 15px;
    color: rgb(2, 124, 2);
    padding-bottom: 0px;
}


.result p 
{
    width: 627px;
    font-size: 13px;
    margin-top: 2px;
    color: rgb(78, 78, 78);
}

.result button 
{

    font-size: 10px;
    line-height: 15px;
    margin-bottom: 0px;
    padding: 0px;
    border-width: 0px;
    background-color: white;
    color: rgb(2, 122, 2);
    
}

.related
 { padding-left:10px;
    width: 627px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.related ul 
{
    list-style: none;
    color: rgb(29, 1, 189);
    padding-left:0px;
    font-size: 14px;
    margin-bottom: 52px;
}
.related ul li 
{
    margin-bottom: 10px;
}

.related-find h3
 {
    padding-left: 10px;
    font-size: 18px;
    margin-top: 39px;
    margin-bottom: 11px;
    font-weight: normal;
    color: rgb(26, 25, 25);
}

.page_list
 {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-bottom: 30px;
    margin-left: 100px;
    color: rgb(30, 129, 243);
}

.page_listprevious::before 
{
    content: '<';
    display: block;
    position: absolute;
    color: rgb(29, 135, 255);
    font-size: 21px;
    transform: scale(0.8, 1.3);
    right: 12px;
    top: -35px;
    
}

.page_listprevious::after 
{
    content: '';
    display: block;
    position: absolute;
    right: -40px;
    top: -35px;
    width: 40px;
    height: 40px;

}

.page_listfirst {
    margin-left: 20px;
    font-size: 13px;
}

.page_list::before, .page_listfirst::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    background-color: white;
    z-index: 4;
    left: -3px;
    top: -20px;
   
}

.page_list::after {
    content: '';
    display: block;
    position: absolute;
    left: -6px;
    top: -25px;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    background-color: rgb(255, 196, 0);
    z-index: 2;
}

.page_listfirst::after {
    content: '';
    display: block;
    position: absolute;
    left: -6px;
    top: -25px;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    background-color: red;
    z-index: 2;
}

.page_list li {
    margin-right: 15px;
    position: relative;
}

.page_listnext {
    margin-left: 40px;
    font-size: 13px;
}

.page_listnext::before {
    content: '>';
    display: block;
    position: absolute;
    left: 5px;
    top: -35px;
    color: rgb(29, 135, 255);
    font-size: 20px;
    transform: scale(0.7, 1.2);
}

.page_listnext::after {
    content: '';
    display: block;
    position: absolute;
    left: -55px;
    top: -37px;
    width: 50px;
    height: 50px;
    background-image: url('images/gle.png');
    background-repeat: no-repeat;
    background-size: 48px;
}


#footer 
{
    background-color: rgb(238, 238, 238);
    position: relative;
    width: 100%;
    font-size: 14px;
    font-family: 'arial';
    color: rgb(56, 56, 56);
  
}

.pages
{
  
  font-weight:normal;
  color: rgb(50, 93, 246);
  letter-spacing: normal;
  font-size: 13px;
  text-align: center;
}


#down_menu 
{
    margin-top: 0px;
    margin-left: 113px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

#down_menu li {
    padding-right: 30px;
}

#location 
{
    
    
    position: relative;
    display: flex;
    direction: row;
    top: -1px;
    padding-left: 150px;
}

#location p:nth-of-type(1)
 {
    font-weight: bold;
}
 
.blue {
  color: rgb(50, 93, 246);
}

.red {
  color: rgb(218, 63, 63);
}

.green {
  color: rgb(76, 140, 68);
}

.yellow {
  color: rgb(236, 184, 29);
}
#border_
{  
    border-top: solid 0.1em rgb(187, 186, 186);
    padding-top:10px;
    


}
table {
  text-align: center;
  letter-spacing: -0.1em;
  font-size: 2.7em;
  margin-bottom: 20px;
  font-weight: bold;
  margin: 123 auto;

}

